body{
    padding: 100px;
    background-color: whitesmoke;
}
.formtitle{
    text-align: center;
    margin-bottom: 15px;
    font-family: monospace;
    font-size: 24px;
}

.detailstitle{
    text-align: center;
    margin-bottom: 15px;
    font-family: monospace;
    font-size: 24px;
    text-decoration: underline;
    color: orange;
}
.detailshead{
    font-size: 20px;
    font-style: oblique;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px orange;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.detailsbody{
    font-size: 16px;
    font-family: monospace;
}

.detailsform{
    width: 500px;
    height: 600px;
    padding: 20px;
    background-color: white;
    box-shadow:0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.formlabel{
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}
.container{
    display: flex;
}

.data{
    margin-left: 100px;
    width: 500px;
    height: 600px;
    border: 5px solid white;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    box-shadow:0.3em 0.3em 1em rgba(0,0,0,0.3);
    scroll-behavior: smooth;
    
}

.data::-webkit-scrollbar{
    width: 5px;
}

.data::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
}

.data::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }

.formsubmit{
    margin: 10px;
    font-size: 18px;
    background-color: whitesmoke;
    border: 1px solid black;
}

.rule{
    background-color: blue;
    height: 1px;
    border: none;
}