
.Textarea{
  margin-left: 150px;
  margin-top: 150px;
  margin-bottom: 50px;
  border: 5px solid #050505;
  width: 800px;
  height: 500px;
  background-color: white;
}
.title{
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-variant: small-caps;
  margin: 20px;
}
.areaitem{
  margin: 30px;
  font-size: 26px;
  font-family: monospace;
  display: flex;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pagination{
  margin-left: 150px;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.previous{
  font-size: 15px;
  font-style: italic;
  font-variant: small-caps;
  margin: 5px;
}
.next{
  font-size: 15px;
  font-style: italic;
  font-variant: small-caps;
  margin: 5px;
}
.pagenumber{
  border: 1px solid #050505;
  border-radius: 100%;
  /* padding: 5px; */
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #cc6db0;
  color: rgb(6, 15, 17);
  margin: 5px;
}
.footer{
  margin-left: 150px;
  margin-top: 25px;
}
.add{
  font-size: 25px;

}
.addinput{
  font-size: 25px;
}
.addbutton{
  font-size: 25px;
  font-style: italic;
  font-variant: small-caps;
  margin: 5px;
}
.addmore{
  font-size: 25px;
  font-style: italic;
  font-variant: small-caps;
  margin: 5px;
}
.clearbutton{
  font-size: 25px;
  font-style: italic;
  font-variant: small-caps;
  margin: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
