.nav{
  width: 100vw;
  background-color: whitesmoke;
  padding: 10px;
}

.list{
  display: flex;
  justify-content: space-around;
}

.listitem{
  list-style-type: none;
}

.button{
  text-decoration: none;
  border: 1px solid;
  box-shadow: 2px 2px grey;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 15px;
  margin: 0px;
}

.Dash{
  margin: 100px;
  border: 1px solid;
  width: 300px;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 1px 1px gray;
}